extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    p this is a project for CIS 221 at UFV. We will update this site with more information soon.
    p Daniel Tatianin : Has Made his First Merge
    p Cameron's first commit.
    
