* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #dfdbe5;
}

a {
  color: #00b7ff;
}

.container {
  width: 75%;
  height: auto;
  background: white;
  padding: 50px;
  margin: 20px;
}
